@charset "utf-8";
body {
	background: #111111 url(/bits/background.jpg) no-repeat scroll center top;
	margin: 0px;
	padding: 0px;
	font: 14px sans-serif;
}
h1 {
	color: #a34b14;
	float: left;
	margin: 0px 0px 15px;
	padding: 0px;
	font: bold 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
	
h2 {
	color: #999999;
	float: left;
	margin: 0px 0px 15px 10px;
	padding: 0px;
	font: bold normal 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h3 {
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background: url(/bits/sprite.png) no-repeat -860px -777px;
	float: left;
	margin: 0px 0px 15px;
	padding: 0px 0px 0px 20px;
	width: 390px;
}
/*.rightblock h4 {
	font: bold 18px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #a34b14;
	margin: 0px;
	padding: 0px;
	text-align: center;
}*/
h4{
	font: bold 18px Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #a34b14;
	margin: 0px 0px 10px;
	padding: 0px;
}




#container {
	margin: 0px auto;
	width: 980px;
	padding: 0px;
}
#main {
	margin: 10px 0px 0px 30px;
	width: 410px;
	float: left;
}
#button {
	font: bold normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background: url(/bits/sprite.png) no-repeat -282px -777px;
	margin: 10px 0px 0px 34px;
	padding: 3px 0px 0px 34px;
	float: left;
	height: 30px;
	width: 302px;
	text-decoration: none;
	text-shadow: -1px -1px 1px #773a00;
}
#svn {
	font: 12px Arial, Helvetica, sans-serif;
	color: #c0bfb7;
	margin: 0px;
	padding: 10px 0px 0px;
	float: left;
	width: 402px;
	text-align: center;
}
#svn a {
	color: #FFFFFF;
	border-bottom: 1px dotted #FFFFFF;
	text-decoration: none;
}
#svn a:hover {
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;
}

#button:hover {
	background: url(/bits/sprite.png) -282px -820px;
}

#button  em {
	font: normal 9px Arial, Helvetica, sans-serif;
	text-decoration: none;
}




#header {
	margin: 10px 0px 0px;
	padding: 10px 0px;
	float: left;
	width: 980px;
	background: url(/bits/sprite.png) no-repeat center top;
}
#header img {
	margin: 0px;
	padding: 0px;
	border-style: none;
}

#links {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	float: right;
	height: 50px;
	width: 980px;
	
}
#links a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	float: right;
	text-align: center;
	height: 24px;
	margin: 0px;
	padding: 15px;
	text-shadow: -1px -1px 1px #000;
}
#links a:visited {
	background: none;
	color: #FFFFFF;
	text-shadow: -1px -1px 1px #000;
}
#links a:hover {
	color: #ffffff;
	background: #A34B14 url(/bits/sprite.png) no-repeat center -1246px;
	text-shadow: -1px -1px 1px #773a00;
}

#version {
	font-size: 16px;
	color: #FFFFFF;
	float: left;
	margin: 0px 0px 10px;
	padding: 0px;
	width: 500px;
}

#footer {
	color: #a5a5a5;
	background: url(/bits/sprite.png) no-repeat left -1310px;
	margin: 0px;
	padding: 20px 0px 20px 20px;
	float: left;
	height: 21px;
	width: 960px;
	font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#footer a {
	color: #FFFFFF;
	text-decoration: none;

}
#footer a:visited {
	color: #FFFFFF;
	text-decoration: none;

}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#copyright {
	font-size: 10px;
	color: #999999;
	margin: 0px;
	padding: 2px 0px 8px 20px;
	float: left;
	height: 32px;
	width: 960px;
	text-align: left;
}
#copyright p {
	margin: 0px;
	padding: 4px 0px 0px 0px;
}
#sflogo {
	margin: -2px 10px 0px 0px;
	float: right;
	padding: 0px;
}
#list {
	font-size: 14px;
	color: #FFFFFF;
	margin: 0px;
	padding: 18px 20px 0px 0px;
	float: right;
	width: 140px;
}
#donatemsg {

}
#video {
	background: url(/bits/sprite.png) no-repeat center -300px;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 980px;
}
#video object {
	margin: 0px;
	padding: 0px;
}
#player {
	margin: 0px 20px 0px 0px;
	padding: 0px;
	float: right;
	height: 308px;
	width: 500px;
}
#vidlow {
	font-size: 11px;
	color: #a5a5a5;
	margin: 0px;
	padding: 5px 42px 0px 0px;
	float: right;
	width: 400px;
	clear: right;
}
#vidlow p{
	color: #a5a5a5;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 0px 3px;
	float: left;
	text-align: center;
}
#vidlow a {
	color: #FFFFFF;
	text-decoration: underline;
}
#vidlow a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
#vidlow a:hover {
	color: #A34B14;
	text-decoration: none;
}

.sliderblock{
	background: url(/bits/sprite.png) no-repeat scroll left -204px;
	float: left;
	width: 935px;
	margin: 0px;
	padding: 20px 0px 0px 45px;
}

.vbar {
	background: url(/bits/sprite.png) no-repeat -260px -774px;
	margin: 0px 5px;
	padding: 0px;
	float: left;
	height: 459px;
	width: 2px;
}
.endblock {
	background: url(/bits/sprite.png) no-repeat center -741px;
	float: left;
	height: 20px;
	width: 980px;
	margin: 0px 0px 5px;
}
.rightblock {
	background: url(/bits/sprite.png) 0px -767px;
	margin: 0px;
	padding: 20px 20px 0px;
	float: right;
	width: 210px;
	font-size: 14px;
	color: #a5a5a5;
	clear: right;
	font-weight: normal;
	text-align: center;
}
.rightblock ul {
	margin: 0px 0px 10px;
	padding: 0px;
	float: left;
	list-style: none;
	display: block;
}
.rightblock li {
	float: left;
	display: block;
	width: 41px;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	height: 41px;
}
.rightblock a {
	color: #FFFFFF;
	text-decoration: none;
	float: left;
}
.rightblock a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.rightblock a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
.endrightblock {
	background: url(/bits/sprite.png) 0px -1290px;
	margin: 0px;
	padding: 0px;
	float: right;
	width: 250px;
	height: 20px;
	clear: right;
}
.rightblock form{
	margin: 10px 0px 0px;
}
.leftcol{
	margin: 10px 10px 0px 12px;
	padding: 0px;
	float: left;
	width: 330px;
	font: 14px/18px Arial, Helvetica, sans-serif;
	color: #a5a5a5;
	}
.leftcol p {
	margin: 0px 0px 10px;
	padding: 0px;
}
.leftcol a:link {
	color: #d3d3d3;
	text-decoration: none;
	border-bottom: 1px dotted #d3d3d3;
}
.leftcol a:visited {
	color: #d3d3d3;
	text-decoration: none;
	border-bottom: 1px dotted #d3d3d3;
}
.leftcol a:hover {
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid #FFFFFF;
}
.facebook {
	background: url(/bits/sprite.png) no-repeat -282px -876px;
	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;
}
.google {
	background: url(/bits/sprite.png) no-repeat -282px -927px;
	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;
}
.blackboxbeta {
	background: url(/bits/sprite.png) no-repeat -282px -1076px;
	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;
}
.playdeb {
	background: url(/bits/sprite.png) no-repeat -282px -1126px;
	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;
}
.youtube {
	background: url(/bits/sprite.png) no-repeat -282px -1027px;
	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;
}
a.info{
    position:relative; 
    z-index:24; 	display: block;
	float: left;
	height: 41px;
	padding: 0px;
	width: 41px;}

a.info:hover{
	z-index:25;
}

a.info span{display: none}

a.info:hover span{
	/*content only displayed on hover*/
 display:block;
	position:absolute;
	top:2em;
	left:-10em;
	width:158px;
	color:#FFFFFF;
	text-align: center;
	padding:10px 0px 0px;
	background: url(/bits/sprite.png) no-repeat -671px -777px;
	height: 30px;
    }
#screen {
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	height: 140px;
	width: 738px;
	text-align: center;
	float: left;
}
#screen img {
	border: none;
}

/* Lightbox */
#gallery img {
	padding: 0px;
	margin: 1px;
	float: left;
}
#gallery img:hover {
	padding: 0px;
	margin: 0px;
	border: 1px solid #a34b14;
}
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #333;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #333;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #fff; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
       .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }

/* Easy Slider */
	#slider{
	color:#FFFFFF;
	font-size:10px;
	padding:0;
	text-align:center;
	width:890px;
	float: left;
	margin: 0px;
	display: block;
	}
	#slider ul, #slider li{
	margin: 0px;
	padding: 0px;
	width: 890px;
	float: left;
	}
	#slider li{
	/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
	width:890px;
	overflow:hidden;
	text-align: center;
	list-style: none;
	height: 142px;
	float: left;
	padding: 0px;
	margin: 0px;
		}	
#prevBtn, #nextBtn,
	#slider1next, #slider1prev{
	display:block;
	float:left;
	width:20px;
	height:30px;
	position:relative;
	left:-916px;
	top:57px;
	z-index:90;
		}	
	#nextBtn, #slider1next{
	position: relative;
	left: -13px;
	top: 57px;
	float:left;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{
	display:block;
	float:left;
	position:relative;
	width:20px;
	height:30px;
	background:url(/bits/sprite.png) no-repeat -310px -1273px;
		}	
	#nextBtn a, #slider1next a{
	background:url(/bits/sprite.png) no-repeat -339px -1273px;
		}														

	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
