RewriteEngine On
Options +FollowSymLinks -Multiviews

RewriteEngine on
RewriteCond %{HTTP_HOST} ^bloodfrontier.sourceforge.net$ [OR,NC]
RewriteCond %{HTTP_HOST} ^bloodfrontier.com$
RewriteRule ^(.*)$ http://www.bloodfrontier.com/$1 [R=301,L,NC]

RewriteRule ^(blog|wiki|gallery|forums|chat|svn|repo|project|google|youtube|blackboxbeta|playdeb)/(.+)$ /bits/index.php?target=$1&title=$2 [QSA,L,NC]
RewriteRule ^(download|blog|wiki|gallery|forums|chat|svn|repo|project|facebook|google|youtube|blackboxbeta|playdeb)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(download)/(.+)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(home)$ /bits/index.php?target=$1 [QSA,L,NC]
RewriteRule ^(community|forum)$ /bits/index.php?target=forums [QSA,L,NC]
RewriteRule ^(screenshots)$ /bits/index.php?target=gallery [QSA,L,NC]
RewriteRule ^(irc)$ /bits/index.php?target=chat [QSA,L,NC]

RewriteCond %{REQUEST_URI} !^/bits/(.+) [NC]
RewriteCond %{REQUEST_URI} !^/cgi-bin/(.+) [NC]
RewriteCond %{REQUEST_URI} !^/favicon.ico [NC]
RewriteCond %{REQUEST_URI} !^/(community|forum|screenshots|irc|home|blog|wiki|gallery|forums|chat|svn|repo|project|facebook|google|youtube|blackboxbeta|playdeb) [NC]
RewriteCond %{REQUEST_URI} !^/(community|forum|screenshots|irc|home|blog|wiki|gallery|forums|chat|svn|repo|project|google|youtube|blackboxbeta|playdeb)/(.+) [NC]
RewriteRule ^(.+)$ /bits/index.php?target=wiki&title=$1 [QSA,L,NC]

RewriteRule ^favicon.ico$ /bits/favicon.ico [QSA,L,NC]
RewriteRule ^$ /bits/index.php [QSA,L,NC]
