body {
	font-family: sans-serif;
	font-size: small;
	background-color: #000000;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-image: url('stars.png');
	background-attachment: fixed;
}
a, a:link, a:visited {
	color: #CC0000;
	text-decoration: none;
}
a:hover {
	color: #FF1111;
	text-decoration: underline;
}
#wrapper {
	min-width: 620px;
	width: 90%;
	margin: 6px auto;
	border: 1px solid #222222;
	background: #000000;
}
#header, #body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#header {
	font-size: medium;
	width: 100%;
}
#body {
	clear: both;
	width: 99%;
}
#logo, #left {
	text-align: left;
	float: left;
	clear: left;
}
#tags, #right {
	text-align: right;
	float: right;
	clear: right;
}
#logo img, #tags img, #right img, #right form {
	padding: 2px 2px 2px 2px;
	display: inline;
}
#right {
	vertical-align: middle;
}
#blurb {
	text-align: right;
	padding: 4px 8px 4px 4px;
	font-weight: bold;
	font-size: 90%;
	width: 90%;
}
#version {
	clear: both;
	padding: 2px 2px 2px 2px;
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
	background: #171717;
}
#navbar {
	clear: both;
	text-align: center;
	font-size: 90%;
	border-bottom: 1px solid #222222;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
}
ul.nav-list {
	display: inline;
	padding: 0px;
}
ul.nav-list li {
	display: inline-block;
}
ul.nav-list li a {
	padding-left: 18px;
	padding-right: 10px;
}
ul.nav-list li a:hover {
	background-image: url('splat.png');
	background-repeat: no-repeat;
}
#notice {
	border-bottom: 1px solid #222222;
	padding: 4px 4px 4px 4px;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}
#supertext {
	font-size: 140%;
	font-weight: bold;
}
#flash {
	width: 480px;
	height: 360px;
}
#subtext, #insert {
	text-align: center;
	font-size: 90%;
}
#footer {
	font-size: 100%;
}
