body {
	font-family: sans-serif;
	font-size: 100%;
	background-color: #000000;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: none;
}
a, a:link, a:visited {
	color: #FF0000;
	text-decoration: none;
}
a:hover {
	color: #FF1111;
	text-decoration: underline;
}
#frame {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: none;
}
#header, #body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}
#tags {
	text-align: right;
	float: right;
	clear: right;
}
#flink, #flink img {
	padding: 2px 2px 2px 2px;
}
#flink, #flink a, #flink img {
	display: inline;
}
#blurb {
	text-align: right;
	padding: 4px 8px 4px 4px;
	font-weight: bold;
	font-size: 90%;
}
#logo {
	padding: 4px 4px 4px 4px;
	float: left;
	clear: left;
}
#navbar {
	padding: 20px 2px 2px 2px;
	text-align: left;
	vertical-align: middle;
	font-size: 90%;
}
#version {
	padding: 4px 2px 2px 2px;
	text-align: left;
	vertical-align: middle;
	font-size: 90%;
}
#portal {
	padding: 16px 4px 16px 4px;
	text-align: center;
	clear: both;
	width: 80%;
}
#supertext {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}
#video {
	text-align: center;
}
#flash {
	width: 480px;
	height: 360px;
}
#noticetext {
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}
#subtext {
	text-align: center;
	font-size: 80%;
}
#footer {
	text-align: center;
	font-size: 100%;
}
